# ignore file not required in production

/venv
/.vscode
Porthree/__pycache__/
Porthree/*/__pycache__/
Porthree/main/migrations/__pycache__/
*.zip
*.pyc
*/.jpg
*/.pdf
/landingpage
get-pip.py
*/*/test_image_*.png
*/*/test_image_*.jpg
